#app
  white-space: nowrap
  user-select: none
  .head, .info
    position: absolute
  &:not(.alternative)
    width: 1920px
    height: 2060px
    position: relative
    background: linear-gradient(#10030A, #301A3B)

    .bg-1, .bg-2, .bg-3, .bg-4
      position: absolute
    .bg-1
      width: 100%
      height: 100%
      background-repeat: no-repeat
      background-position: bottom
      background-position-y: 1120px
    .bg-2
      bottom: 0
      right: 343px
    .bg-3
      bottom: 246px
      left: 47px
    .bg-4
      top: 85px
      left: 170px
      transform-origin: 0 0
      transform: scale(3)

    .head
      top: 90px
      left: 420px
      color: #FFFFFF
      text-shadow: 0 0 7px #0093FF
      text-align: center
      .title
        font-family: "Yuanti TC", "Microsoft JhengHei", sans-serif
        font-weight: bold
        font-size: 79px
        line-height: 111px
      .subtitle
        font-family: Silom, Tahoma, sans-serif
        font-size: 69px
        line-height: 88px

    .info
      top: 987px
      left: 188px
      padding: 50px 80px
      padding-left: 265px
      border: 10px solid rgba(0, 147, 255, 0.76)
      border-radius: 50px
      background-color: #FFFFFF
      width: 1230px
      min-height: 250px
      font-family: "Yuanti TC", "Microsoft JhengHei", sans-serif
      font-size: 35px
      line-height: 52px
      white-space: initial
      img
        position: absolute
        width: 150px
        left: 80px
        top: 50px
      .label
        font-weight: 700
        color: #505050
      .desc
        color: #7B7B7B
    .monocat
      position: absolute
      top: 947px
      left: 33px
      width: 218px
      height: 357px
    .padora
      position: absolute
      top: 978px
      left: 1513px
      cursor: pointer
      .label
        color: #FFFFFF
        font-size: 30px
        font-weight: 700
        font-family: 'Noto Sans Han TC', 'Heiti TC', 'Microsoft JhengHei', sans-serif
        line-height: 45px
        text-shadow: 0 1px 4px #0093FF
        text-align: center



