<template>
  <div
    :class="{
      'skill-button': true,
      [value]: true
    }"
    :style="`left: ${x}px; top: ${y}px;`"
    @click="changeState"
  >
    <img :src="src">
    <template v-if="!alternative">
      <div class="label" v-text="label" />
      <template v-if="arrow.length" v-for="(a, index) of arrow">
        <component
          :is="arrowSet[index]"
          :key="index"
          :class="{
            arrow: true,
            active: a.pre ? value === 'selected' : preState
          }"
          :style="{
            left: a.x,
            top: a.y,
            width: a.width
          }"
        />
      </template>
    </template>
  </div>
</template>

<style lang="scss">
.skill-button {
  position: absolute;
  width: 104px;
  height: 104px;
  border: 12px solid transparent;
  text-shadow: 0 3px 6px rgba(0, 147, 255, 0.44);
  border-radius: 44px;
  background-color: rgba(0, 147, 255, 0.35);
  &.locked {
    border-color: rgba(92, 92, 92, 0.62);
  }
  &.initial {
    border-color: rgba(255, 255, 255, 0.62);
  }
  &.selected {
    border-color: rgba(87, 145, 255, 0.62);
  }
  img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: transform .3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 1;
  }
  &:hover {
    img {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
  .label {
    color: #FFFFFF;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Noto Sans Han TC', 'Heiti TC', 'Microsoft JhengHei', sans-serif;
    line-height: 45px;
    text-shadow: 0 1px 4px #0093FF;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0)
  }
  .arrow {
    pointer-events: none;
    fill: rgba(255, 255, 255, .73);
    position: absolute;
    &.active {
      fill: #FFFFFF;
    }
  }
}
</style>

<script>
export default {
  name: 'SkillButton',
  props: {
    alternative: {
      default: false,
      type: Boolean
    },
    label: {
      default: '',
      type: String
    },
    rec: {
      default: () => ([]),
      type: Array
    },
    opt: {
      default: () => ([]),
      type: Array
    },
    value: {
      default: 'initial',
      type: String
    },
    preState: {
      default: false,
      type: Boolean
    },
    arrow: {
      default: () => ([]),
      type: Array
    },
    arrowSet: {
      default: () => ([]),
      type: Array
    },
    src: {
      default: '',
      type: String
    },
    x: {
      default: 0,
      type: Number
    },
    y: {
      default: 0,
      type: Number
    }
  },
  watch: {
    preState (newVal) {
      this.$emit('input', newVal ? 'initial' : 'locked')
    }
  },
  methods: {
    changeState () {
      if (this.preState) {
        this.value === 'selected'
          ? this.$emit('input', 'initial')
          : this.$emit('input', 'selected')
      } else if (this.value !== 'locked') {
        this.$emit('input', 'locked')
      }
    }
  }
}
</script>
