<template>
  <div id="app" :class="{ alternative }" :style="`zoom: ${zoom}`">
    <template v-if="!alternative">
      <div class="bg-1" :style="`background-image: url(${assets.footer})`" />
      <img class="bg-2" :src="assets.rocket">
      <img class="bg-3" :src="assets.hexcat">
      <img class="bg-4" :src="assets.illustration">
      <div class="info">
        <img :src="assets[currentInfo]">
        <div class="context">
          <div class="label" v-text="currentSkill.label"/>
          <div class="desc" v-text="currentSkill.desc"/>
        </div>
      </div>
      <img class="monocat" :src="assets.monocat">
      <div class="padora">
        <img :src="assets.padora">
        <div class="label">潘朵拉寶盒</div>
      </div>
      <div></div>
    </template>
    <div class="head">
      <div class="title" v-text="title" />
      <div class="subtitle" v-text="subtitle" />
    </div>
    <SkillButton
      v-for="skill of skillData"
      :key="skill.id"
      :alternative="alternative"
      :src="assets[skill.id]"
      :preState="checkPre(skill.pre)"
      v-model="state[skill.id]"
      v-bind="ripData(skill)"
      @mouseover.native="currentInfo = skill.id"
    />
  </div>
</template>

<script>
import { importImg } from './helpers'
import monospace from './monospace.json'
import hexschool from './hexschool.json'
import SkillButton from './components/SkillButton.vue'
const assetsHex = importImg(require.context('./assets/hexschool', false, /\.png/))
const assetsMono = importImg(require.context('./assets/monospace', false, /\.png|\.svg/))

function getKeys (arr) {
  return arr.reduce((prev, curr) => ({
    ...prev,
    [curr.id]: curr.pre.length ? 'locked' : 'initial'
  }), {})
}

export default {
  name: 'app',
  components: {
    SkillButton
  },
  data: () => ({
    alternative: false,
    currentInfo: '',
    hexState: getKeys(hexschool.skill),
    monoState: getKeys(monospace.skill),
    zoom: 1,
    viewWidth: 1920
  }),
  computed: {
    assets () {
      return this.alternative
        ? assetsHex
        : assetsMono
    },
    skillData () {
      return this.alternative
        ? hexschool.skill
        : monospace.skill
    },
    state () {
      return this.alternative
        ? this.hexState
        : this.monoState
    },
    title () {
      return this.alternative
        ? 'FRONT-END'
        : '介面設計師轉職之路'
    },
    subtitle () {
      return this.alternative
        ? 'SKILL TREE'
        : 'UI Designer Road Map'
    },
    currentSkill () {
      const index = Object.keys(this.state).indexOf(this.currentInfo)
      return this.skillData[index] || {}
    }
  },
  mounted () {
    addEventListener('resize', () => { this.zoom = innerWidth / this.viewWidth })
    this.zoom = innerWidth / this.viewWidth

    this.currentInfo = this.skillData[0].id
  },
  methods: {
    checkPre (arr) {
      if (arr.length === 0) return true
      return arr.every(key => this.state[key] === 'selected')
    },
    ripData (obj) {
      const newObj = { ...obj }
      delete newObj.desc
      delete newObj.pre

      if (newObj.arrow) {
        const arrowSet = []
        newObj.arrow.forEach(arrow => {
          arrowSet.push(this.assets[`arrow${arrow.id}`])
        })
        newObj.arrowSet = arrowSet
      }
      return newObj
    }
  }
}
</script>

<style lang="scss" src="@/assets/scss/index.sass"></style>
